<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/create.png" id="icon" alt="User Icon">
    </div>

    <!-- Login Form -->
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" ngNativeValidate>

      <input
      required
      type="text"
      id="name"
      class="fadeIn second"
      name="login"
      [(ngModel)]="name"
      placeholder="Nome de usuário">

      <input
        required
        type="email"
        id="email"
        class="fadeIn second"
        name="login"
        [(ngModel)]="email"
        placeholder="Email">

      <input
        required
        type="password"
        id="password1"
        class="fadeIn third"
        name="login"
        (change)="verifyPassword()"
        [(ngModel)]="password1"
        placeholder="Senha">

      <input
        required
        type="password"
        id="password2"
        class="fadeIn third"
        name="login"
        (change)="verifyPassword()"
        [(ngModel)]="password2"
        placeholder="Confirme a senha">
        <div *ngIf="!verifyPassword() && password1.length > 0 && password2.length > 0" class="ml-5" style="text-align: left;">
          <small style="color: rgb(255, 0, 0);">
            As senhas devem ser iguais.
          </small>
        </div>
        <div *ngIf="verifyPassword() && password1.length < 8 && password1.length > 0 && password2.length > 0" class="ml-5" style="text-align: left;">
          <small style="color: rgb(255, 0, 0);">
            A senha deve ter no mínimo 8 caracteres.
          </small>
        </div>

      <input
        type="submit"
        class="fadeIn fourth mt-4"
        value="Cadastre-se">

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/login']">Já tem uma conta?</a>
    </div>

  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
