<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button *ngIf="!isSave" (click)="onDismiss();" class="float-right" mat-icon-button aria-label="Fechar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col title text-center">
      <span *ngIf="data.isNew">Cadastre um novo produto</span>
      <span *ngIf="!data.isNew">Editar produto</span>
    </div>
  </div>


  <div class="row">
    <mat-spinner class="mx-auto my-5" *ngIf="isSave"></mat-spinner>
  </div>

  <div class="row my-5" *ngIf="!isSave">
    <div class="col">
      <form class="form" ngNativeValidation>

        <div class="row mb-5">
          <div class="col-6">
            <mat-spinner *ngIf="!isPhoto" class="mx-auto"></mat-spinner>

            <img
            loading="lazy"
            width="70%"
            height="250px"
            *ngIf="updatePhoto"
            class="card-img-top"
            src="{{this.imgURL}}"
            onerror="this.onerror=null;this.src='../../../assets/not-found-product-image.png'"
            alt="imagem do produto">

            <img
            loading="lazy"
            width="70%"
            height="250px"
            *ngIf="!updatePhoto"
            class="card-img-top"
            src="{{this.data.product.url}}"
            onerror="this.onerror=null;this.src='../../../assets/not-found-product-image.png'"
            alt="imagem do produto">

          </div>
          <div class="col-6">
            <mat-form-field class="file-input">
              <ngx-mat-file-input
                (change)="preview(); verifyPhoto();"
                [formControl]="fileControl"
                placeholder="Selecione uma imagem"
                [multiple]="false"
                [accept]="'image/png, image/jpeg'"
                [color]="color">
                 <mat-icon style="font-size: 26px;" ngxMatFileInputIcon>image_search</mat-icon>
              </ngx-mat-file-input>
           </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <mat-form-field class="w-70" appearance="fill">
              <mat-label>Nome</mat-label>
              <input
              [(ngModel)]="data.product.name"
              name="name"
              type="text"
              matInput
              required
              placeholder="Informe o nome">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <mat-form-field class="w-70" appearance="fill">
              <mat-label>Marca</mat-label>
              <input
              [(ngModel)]="data.product.brand"
              name="brand"
              type="text"
              matInput
              required
              placeholder="Informe a marca">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <mat-form-field class="w-70" appearance="fill">
              <mat-label>Quantidade</mat-label>
              <input
              [(ngModel)]="data.product.quantity"
              mask="9999999"
              name="quantity"
              type="text"
              matInput
              required
              placeholder="Informe a quantidade">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <mat-form-field class="w-70" appearance="fill">
              <mat-label>Preço</mat-label>
              <input
              [(ngModel)]="data.product.price"
              mask="separator.2"
              [thousandSeparator]="'.'"
              [decimalMarker]="','"
              name="price"
              type="text"
              matInput
              required
              placeholder="Informe o preço">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <mat-form-field class="w-70" appearance="fill">
              <mat-label>Descrição</mat-label>
              <textarea
                [(ngModel)]="data.product.description"
                name="description"
                type="text"
                matInput
                placeholder="Descreva o produto">
              </textarea>
            </mat-form-field>
          </div>
        </div>

        <button (click)="onSubmit()" mat-raised-button class="button">
          <span *ngIf="data.isNew">Salvar</span>
          <span *ngIf="!data.isNew">Editar</span>
        </button>

        <button
          *ngIf="!data.isNew"
          (click)="onDelete(data.product.code, data.product.url)"
          mat-raised-button
          class="button-delete">
          <span>Mover para a lixeira</span>
        </button>

      </form>
    </div>
  </div>

</div>
