<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <a class="navbar-brand ml-3" [routerLink]="['']">
    <img src="../../../assets/package-icon.png" loading="lazy" alt="logo" width="70">
    <span class="title">Gestor de produtos</span>
  </a>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <img src="../../../assets/delivery.png" width="40" alt="Delivery icon">
            <span>Gestor de produtos</span>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
          <button mat-button class="menu-button" routerLink="/product-manager">
            <mat-icon> list_alt</mat-icon>&nbsp;
            <span>Produtos</span>
          </button>
        <mat-divider></mat-divider>
          <button (click)="create()" mat-button class="menu-button" routerLink="/product-manager">
            <mat-icon>add</mat-icon>
            <span>Novo produto</span>
          </button>
        <mat-divider></mat-divider>
          <button mat-button class="menu-button" routerLink="/product-trash">
            <mat-icon>delete</mat-icon> &nbsp;
            <span>Lixeira</span>
          </button>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <img src="../../../assets/supplier.png" width="40" alt="Delivery icon">
            <span>Gestor de Fornecedores</span>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
          <button mat-button class="menu-button" routerLink="/supplier-manager">
            <mat-icon> contacts</mat-icon>&nbsp;
            <span>Fornecedores</span>
          </button>
        <mat-divider></mat-divider>
          <button mat-button class="menu-button" routerLink="/supplier-manager">
            <mat-icon>add</mat-icon>
            <span>Novo Fornecedor</span>
          </button>
        <mat-divider></mat-divider>
          <button mat-button class="menu-button" routerLink="/supplier-trash">
            <mat-icon>delete</mat-icon> &nbsp;
            <span>Lixeira</span>
          </button>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <button (click)="openAbout()" mat-button class="menu-button-out-of-structure">
      <mat-icon>info</mat-icon>
      <span>Sobre</span>
    </button>
    <button (click)="logout();" mat-button class="menu-button-out-of-structure">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
