<div class="container-fluid">
  <div class="row">
    <div class="col-12 center">
      <img src="../../../assets/page-not-found.png" width="300" alt="not found icon">
    </div>
  </div>
  <div class="row center">
    <div class="col-12 mt-3">
      <span class="offline-title">
        Verifique sua conexão com a internet e tente novamente!
      </span>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 center">
      <button (click)="onDismiss()" mat-button>
        <img src="../../../assets/refresh.png" alt="refresh button" width="35">
      </button>
    </div>
  </div>
</div>
