<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/login.png" id="icon" alt="User Icon">
    </div>

    <!-- Login Form -->
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" ngNativeValidate>

      <input
        required
        type="email"
        id="login"
        class="fadeIn second"
        name="login"
        [(ngModel)]="email"
        placeholder="Email">

      <input
        required
        type="password"
        id="password"
        class="fadeIn third"
        name="login"
        [(ngModel)]="password"
        placeholder="Senha">
        <div class="mr-5" style="text-align: right;">
          <a class="underlineHover" [routerLink]="['/new-user']">Novo por aqui?</a>
        </div>

      <input
        type="submit"
        class="fadeIn fourth mt-4"
        value="Entrar">

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/forgot-password']">Esqueceu a senha?</a>
    </div>

  </div>
</div>
