<div class="container-fluid">

  <div class="row justify-content-center" *ngIf="products.length > 0">
    <div class="col-lg-8 mt-2 center">

        <button
        mat-raised-button
        class="ml-3 filter-set"
        [matMenuTriggerFor]="beforeMenu"
          ><mat-icon>filter_list</mat-icon>
        </button>

        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button
          [ngClass]="{'active-filter': filter === 'NAME'}"
          (click)="setFilterName();"
          mat-menu-item>
            Nome (Padrão)
          </button>

          <button
          [ngClass]="{'active-filter': filter === 'BRAND'}"
          (click)="setFilterBrand();"
          mat-menu-item>
            Marca
          </button>
          
        </mat-menu>
          <mat-slider
          *ngIf="filter === 'PRICE'"
          class="ml-5"
          [(ngModel)]="search"
          placeholder=""
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="100"
          step="100"
          min="0"
          max="100000"
          aria-label="units">
          </mat-slider>

        <mat-form-field *ngIf="filter !== 'PRICE'" class="ml-5" style="width: 70%">
          <input
            (input)="find()"
            type="text"
            matInput
            placeholder="Buscar"
            name= "search"
            [(ngModel)]="search">

          <button (click)="find()" matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
      </div>
  </div>

  <div *ngIf="loadState" class="row justify-content-center">
    <div class="col-lg-10 mt-5">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>

  <div *ngIf="notFoundMessage && !loadState" class="row justify-content-center">
    <div class="col-lg-10 mt-5 center text-center not-found">
      <div>
        <img src="../../../assets/not-found-product.png" width="300" loading="lazy" alt="nenhum produto encontrado!">
      </div>
      Nenhum produto encontrado!
    </div>
  </div>


  <div class="row mt-5 center" *ngIf="products.length > 0 && !loadState">
    <div class="card card-config ml-4 mb-4" *ngFor="let product of products" (click)="edit(product)">
        <img

        class="card-img-top"
        [src]="product.url"
        onerror="this.onerror=null;this.src='../../../assets/not-found-product-image.png'"
        width="100%"
        height="150px"
        alt="imagem do card">

        <div class="card-body text-config">
          <h5 class="card-title">{{product.name | titlecase}}</h5>
              <p class="card-text">{{product.brand | titlecase}}</p>
              <p class="card-text">
                <span *ngIf="product.quantity > 0">
                  {{product.quantity}} em Estoque
                </span>
                <span *ngIf="product.quantity <= 0">
                  Nenhum em Estoque
                </span>
              </p>
              <p class="card-text">{{product.price | currency : 'BRL'}}</p>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="loadMore">
    <div class="col-12">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>
  <div class="row" *ngIf="products.length > 0">
    <div class="col mt-3 mb-5 ml-4">

      <button
        (click)="load()"
        *ngIf="products.length < max && products.length !== 0 && !search"
        type="button"
        class="btn btn-primary see-more">
          Veja mais
      </button>

      <button
        (click)="loadFind()"
        *ngIf="products.length < max && products.length !== 0 && search"
        type="button"
        class="btn btn-primary see-more">
          Veja mais
      </button>

    </div>
  </div>

  <div class="row text-center w-100 mb-3 mt-4">
    <div class="col">
      <span *ngIf="products.length === max && !loadState && !notFoundMessage" class="allProducts">
        Todos os produtos foram carregados!
      </span>
    </div>
  </div>

</div>
