mat-slider {
  width: 70%;
}

.title{
  margin-left: 20px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.navbar-bg{
  background-color: #4dbce9;
}
.navbar-btn{
  padding: 10px;
}
.filter-set{
  border-radius: 100px;
  margin-right: -30px;
}
.btn-navbar-custom{
  border-radius: 6px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.active-filter{
  background-color: #4dbce9;
  color: #fff;
  transition: 0.3s;
}
.active-filter:hover{
  background-color: #88ddff;
}
.center{
  margin: auto;
  text-align: center;
}
.card-config{
  width: 19rem;
  min-height: 320px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.card-config:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  max-width: 35ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.see-more{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
}
.not-found{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 28px;
}
.not-found img{
  margin: auto;
  max-width: 600px;
}
.allProducts{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.text-config{
  width: 100%;
  bottom: 0;
  position: absolute;
}

