.title{
  margin-left: 20px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.navbar-bg{
  background-color: #4dbce9;
}
.navbar-btn{
  padding: 10px;
}
.btn-navbar-custom{
  border-radius: 6px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.active-filter{
  background-color: #4dbce9;
  color: #fff;
}
.center{
  margin: auto;
  text-align: center;
}
.card-config{
  border-radius: 10px;
  border: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.card-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.card-text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.see-more{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
}
.not-found{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 28px;
}
.not-found img{
  margin: auto;
  max-width: 600px;
}
.allProducts{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.text-config{
  width: 100%;
  bottom: 0;
  position: absolute;
}

