<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
        <a class="navbar-brand" [routerLink]="['']">
          <img src="../../../assets/package-icon.png" alt="logo" width="70">
          <span class="title">Gestor de produtos</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
            <li class="nav-item navbar-btn">
              <button (click)="create();" type="button" class="btn btn-light btn-navbar-custom">Novo produto</button>
            </li>
            <li class="nav-item navbar-btn">
              <button type="button" class="btn btn-light btn-navbar-custom">Sobre</button>
            </li>
            <li class="nav-item navbar-btn">
              <button (click)="logout()" type="button" class="btn btn-light btn-navbar-custom">Sair</button>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 mt-5 center">
        <button mat-raised-button class="ml-3" style="border-radius: 100px; margin-right: -30px;" [matMenuTriggerFor]="beforeMenu"><mat-icon>filter_list</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button [ngClass]="{'active-filter': filter === 'NAME'}" (click)="setFilterName();" mat-menu-item>Nome (Padrão)</button>
          <button [ngClass]="{'active-filter': filter === 'BRAND'}" (click)="setFilterBrand();" mat-menu-item>Marca</button>
          <button [ngClass]="{'active-filter': filter === 'PRICE'}" (click)="setFilterPrice();" mat-menu-item>Preço</button>
        </mat-menu>

        <mat-form-field class="ml-5" style="width: 70%">
          <span matPrefix></span>

          <input *ngIf="filter === 'PRICE'" type="text" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " matInput placeholder="Buscar" name= "search" [(ngModel)]="search">

          <input *ngIf="filter !== 'PRICE'" type="text" matInput placeholder="Buscar" name= "search" [(ngModel)]="search">
          <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
      </div>
  </div>

  <div *ngIf="loadState" class="row justify-content-center">
    <div class="col-lg-10 mt-5">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>

  <div *ngIf="notFoundMessage" class="row justify-content-center">
    <div class="col-lg-10 mt-5 center text-center not-found">
      <div>
        <img src="../../../assets/not-found-product-list.png" alt="nenhum produto encontrado!">
      </div>
      Nenhum produto encontrado!
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-10">
      <div class="row row-cols-1 row-cols-md-2 mt-5">
        <div class="col mb-4 center" *ngFor="let product of products" style="max-width: 420px;">
          <div class="card card-config" style="width: 18rem;">
            <img class="card-img-top" src="..." onerror="this.onerror=null;this.src='../../../assets/not-found-product-image.png'" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.name | titlecase}}</h5>
              <p class="card-text">{{product.brand | titlecase}}</p>
              <p class="card-text">{{product.price | currency : 'BRL'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-lg-10 mt-3 mb-5 ml-4">
      <button *ngIf="products.length !== max" type="button" class="btn btn-primary see-more">Veja mais</button>
    </div>
  </div>
  <div class="row text-center" style="margin-top: -50px; margin-bottom: 100px;">
    <div class="col">
      <span *ngIf="products.length === max && !loadState" class="allProducts">
        Todos os produtos foram carregados!
      </span>
    </div>
  </div>
  <div class="col-1"></div>
</div>
