/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html, body { height: 100%; }
body {
  background-color: #EEEEEE;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-snackbar {
  font-weight: 500;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background: rgb(65, 252, 134);
  color: white;
}
.green-snackbar button {
  font-weight: 500;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}
.red-snackbar {
  font-weight: 500;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background: #F44336;
  color: white;
}
.red-snackbar button {
  font-weight: 500;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: #F44336;
  color: white !important;
  border: none;
}
