<div class="container-fluid">

  <div class="row">
    <div class="col">
      <button (click)="onDismiss();" class="float-right" mat-icon-button aria-label="Fechar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Sobre</h2>

      <p>Projeto desenvolvido com intuitos puramente acadêmicos, por Marcos Sousa e Ozeias Santos visando de forma prática apresentar um estudo relacionado a APIs REST, demonstrar as operações de criação, visualização, exclusão e edição(CRUD) em uma arquitetura de back-end e front-end em um exemplo de aplicação do conceito em formato de uma aplicação web de gestão de produtos.</p>

      <h2>Divisão de Responsabilidades</h2>
      <h5>Front-end e Back-End</h5>
      <ul>
        <li><a href="https://github.com/marcos-vcs" target="_blank">Marcos Sousa</a></li>
      </ul>
      <h5>Design e Testes</h5>
      <ul>
        <li><a href="https://github.com/OzzySant" target="_blank">Ozeias Santos</a></li>
      </ul>

      <h2>Tecnologias utilizadas</h2>
      <h4>Front-end</h4>
      <ul>
        <li>Angular</li>
        <li>Typescript</li>
        <li>Angular Material</li>
        <li>Bootstrap 4.5</li>
        <li>Google Fonts</li>
      </ul>
      <h4>Back-end</h4>
      <ul>
        <li>Java 11</li>
        <li>Spring boot</li>
        <li>Spring validation</li>
        <li>Spring data mongoDb</li>
        <li>MongoDb atlas</li>
      </ul>
      <hr>
    </div>
  </div>
  <footer id="about-footer">
    Acesse o repositório do projeto no GitHub
    <br>
    <a href="https://github.com/marcos-vcs/product-manager" target="_blank">
      <i class="fa-brands fa-github-square"></i>
    </a>

  </footer>

</div>
